/*
  Name: Hairong Wu (Jason)
  Date: May 19, 2020
  Section: CSE 154 AG
  This is the styles.css file for my CP3 of CSE 154.
  It includes style support for both of the index.html.
*/
body {
  font-family: 'Share Tech Mono', monospace;
  background-size: cover;
  background-color: gray;
  color: white;
  background-attachment: fixed;
  text-align: center;
}

div.section {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div > div.content {
  width: 70%;
  margin-left: 15%;
}

.bg {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  z-index:1;
}

.sec1{
  background-image: url(img/bg/ff.jpg);
}

.sec2{
  background-position: center;
  background-image: url(img/bg/uwnb1.jpg);
}

.sec3 {
  background-position: center center;
  background-image: url(img/bg/uwnb2.jpg);
}

.sec4 {
  background-position: center center;
  background-image: url(img/bg/uwnb3.jpg);
}

.sec1 > .sec1 {
  background-image: none;
  height: 5%;
}

.bg:not(.sec1):after{
  content: "";
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background: inherit;
  filter: blur(8px);
  z-index: 2;
}

div > h1, div > h2, .content{
  z-index:11;
}

h1 {
  font-size: 100pt;
}

h2, footer > a {
  font-size: 75pt;
}

p, li {
  text-align: left;
}

h1, h2 {
  text-shadow: black 5px 5px 5px;
}

h3, p {
  font-size: 30pt;
}

li {
  font-size: 28pt;
}

h4 {
  font-style: italic;
  font-size: 22pt;
}

p, h3, h4 {
  color: white;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000,2px -2px 0 #000,-2px -2px 0 #000; 
}

li {
  color: white;
  text-shadow: -3px 3px 0 #000, 3px 3px 0 #000,3px -3px 0 #000,-3px -3px 0 #000; 
}

img {
  width: 20%;
  border-radius: 5%;
}

img.img_right {
  float: right;
}

img.img_left {
  float: left;
}