/*
  Name: Hairong Wu (Jason)
  Date: May 19, 2020
  Section: CSE 154 AG
  This is the styles.css file for my CP3 of CSE 154.
  It includes style support for both of the index.html.
*/
body {
  font-family: 'Share Tech Mono', monospace;
  background-size: cover;
  background-color: gray;
  color: white;
  background-attachment: fixed;
  text-align: center;
}

div.section {
  height: calc(100vh);
  width: calc(100vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div > div.content {
  width: 70%;
  margin-left: 15%;
}

.bg {
  background-position: center center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  z-index:1;
  position: relative;
}

.sec1{
  background-image: url(./img/bg/ff.jpg);
}

.sec2{
  background-image: url(./img/bg/uwnb1.JPG);
}

.sec3 {
  background-image: url(./img/bg/uwnb2.JPG);
}

.sec4 {
  background-image: url(./img/bg/uwnb3.JPG);
}

.sec5 {
  height: 100%;
  background-image: url(./img/bg/GGJ4.jpg);
}

.sec6 {
  background-image: url(./img/bg/res1.jpg);
  /* background-image: url(http://students.washington.edu/uwnb/gj/main/img/bg/res1.jpg); */
}

.main-title > .sec1 {
  background-image: none;
  height: 5%;
}

.bg:not(.sec1)::after {
  content: "";
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background: inherit;
  filter: blur(8px);
  z-index: 2;
}

div, p, h1, h2, h3, h4, li {
  z-index:11;
}

h1 {
  font-size: 7em;
}

h2, footer > a {
  font-size: 4.6875em;
}

p, li {
  text-align: left;
}

h1, h2 {
  text-shadow: black 5px 5px 5px;
}

h3, p {
  font-size: 1.875em;
}

li {
  font-size: 1.9em;
}

h4 {
  font-size: 1.375em;
}

p, h3, h4, li:not(#menu li) {
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
}

li {
  font-weight: bold;
}

img {
  width: 20%;
  border-radius: 5%;
}

img.img_right {
  float: right;
}

img.img_left {
  float: left;
}

.detailed-schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

div.detailed-h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
}

div.detailed-h2 > h2:first-child {
  margin: 0%;
  margin-top: 5%;
}

div.detailed-h2 > h2:nth-child(2){
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 6%;
}

.detailed-schedule > li {
  margin-right: 5%;
  margin-bottom: 5%;
}

.main-title {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-title h1 {
  flex-grow: 1.5;
}
/* 
article.full-schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: #666699;
}

/* selected link */
a:active {
  color: #336699;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
  background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}